img{
width: 300px;
border-radius: 10px;
}

h3{
display: flex;


}




div{

  background-color: rgb(141, 135, 136);
  background-size: cover;
}
ul{
margin: 500px 500px;




}
li{
  text-decoration: none;
}